body{
  overflow-x: hidden;
  /* background-color: #a5a79a; */
}
.nav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #a5a79a;
  opacity: .9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: .7s;
}
.nav a{
  display: block;
  padding: 20px;
  font-size: 23px;
  text-decoration: none;
  color: #61120e;
  font-family: 'Modak', cursive;
}
.nav ul{
  list-style-type: none;
}
.nav ul a:hover{
  color: #ca2521;
  transition: .5s;
}
.nav .close{
  position: absolute;
  top: 0;
  right: 50px;
  margin-left: 60px;
  font-size: 30px;
}
.slide a{
  font-size: 35px;
  color: #eca442;
}
#sidenav{
  padding: 15px;
  transition: .7s;
  width: 100%;
  overflow: hidden;
}
.navigation{
  background-image: url('../images/patrick-fore-m9qWesqRN0M-unsplash.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  height: 100vh;
  width: 100%;
}
.navigation .logo, .navigation .delivery{
  font-family: 'Modak', cursive;
  color: #eca442;
  padding: 2rem;
  text-align: center;
}
.navigation .logo h2{
  font-size: 3.5rem;
  letter-spacing: 2px;
}
.navigation .delivery button{
  /* border: 2px solid white; */
  padding: .8rem 2rem;
  /* width: 6rem; */
  background-color: #eca442;
  border-radius: .5rem;
  outline: none;
  transition: .5s;
}
.navigation .delivery a{
  color: #61120e;  
  font-size: 2rem;
}
.navigation .delivery button:hover{
  font-weight: 700 !important;
  letter-spacing: 4px;
  background: #eca442;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(255,255,255,0.87);
  -moz-box-shadow: 0px 5px 40px -10px rgba(255,255,255,0.87);
  transition: all 0.3s ease 0s;
}
.about-us h2, .contact .container h2, .menu .order h2{
  font-family: 'Modak', cursive;
  /* color: rgb(116, 17, 17); */
  color: #61120e;
  font-size: 3rem;
  letter-spacing: .3rem;
  text-decoration: underline;
}
.about-us{
  padding: 1rem;
}
.about-us p{
  font-family: 'Chilanka', cursive;
  font-size: 2rem;
}
.menu{
  position: relative;
}
.slider{
  overflow: hidden;
  height: 100vh;
}
.slider figure{
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
@keyframes slider{
  0%{
    left: 0;
  }
  20%{
    left: 0;
  }
  25%{
    left: -100%;
  }
  45%{
    left: -100%;
  }
  50%{
    left: -200%;
  }
  70%{
    left: -200%;
  }
  75%{
    left: -300%;
  }
  95%{
    left: -300%;
  }
  100%{
    left: -400%;
  }
}
.slider figure img{
  width: 20%;
  float: left;
}
.menu .order{
  position: absolute;
  top: 0;
  background-color: rgba(216, 211, 211, 0.8);
  border-radius: 3rem;
  margin-left: 25%;
  height: 100%;
  width: 50%;
}
.menu{
  font-family: 'Chilanka', cursive;
  font-size: 2.5rem;
  letter-spacing: .1rem;
}
#output{
  display: none;
}
#formOrder .form-group label{
  font-family: 'Chilanka', cursive;
  font-size: 1.5rem;
}
#or{
  border: 1px solid white;
  padding: 1.2rem;
  border-radius: 50%;
  font-family: 'Modak', sans-serif;
  font-size: 2rem;
  background-color: white;
}
.button button{
  font-family: 'Modak', sans-serif;
  padding: 1rem 1.5rem;
  /* font-size: 1.5rem; */
}
.contact{
  font-family: 'Chilanka', cursive;
  font-weight: 600;
  background-color: #eca442;
}
.contact .col ul{
  list-style-type: none;
}
.contact .col ul li{
  display: inline-block;
  font-size: 1.5rem;
  padding: .8rem;
  border: 1px solid;
}
.contact .col ul li a{
  color: #61120e;
}
.col h4{
  text-decoration: underline;
  font-size: 2rem;
  color: #ca2521;
}
.footer-bottom{
  background-color: #ca2521;
}