body{
  overflow-x: hidden;
}
.nav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(211, 209, 209);
  opacity: .9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: .7s;
}
.nav a{
  display: block;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
  color: gray;
  font-family: 'Modak', cursive;
}
.nav ul{
  list-style-type: none;
}
.nav ul a:hover{
  color: rgb(122, 19, 19);
  transition: .5s;
}
.nav .close{
  position: absolute;
  top: 0;
  right: 50px;
  margin-left: 60px;
  font-size: 30px;
}
.slide a{
  font-size: 35px;
  color: rgb(122, 19, 19);
}
#sidenav{
  padding: 15px;
  transition: .7s;
  width: 100%;
  overflow: hidden;
}
.navigation{
  display: flex;
  height: 100vh;
  width: 100%;
}
.navigation .logo, .navigation .delivery{
  font-family: 'Modak', cursive;
  color: rgb(122, 19, 19);
  padding: 2rem;
  text-align: center;
}
.navigation .logo h2{
  font-size: 3.5rem;
  letter-spacing: 2px;
}
.navigation .delivery button{
  border: 2px solid white;
  padding: .8rem 2rem;
  /* width: 6rem; */
  background-color: white;
  border-radius: .5rem;
  outline: none;
  transition: .5s;
}
.navigation .delivery a{
  color: rgb(122, 19, 19);  
  font-size: 2rem;
}
.navigation .delivery button:hover{
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
}
.about-us h2{
  font-family: 'Modak', cursive;
  color: rgb(122, 19, 19);
  font-size: 3rem;
}
.about-us p{
  font-family: 'Norican', cursive;
  font-size: 2rem;
}
.menu{
  position: relative;
}
.slider{
  overflow: hidden;
  height: 100vh;
}
.slider figure{
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
@keyframes slider{
  0%{
    left: 0;
  }
  20%{
    left: 0;
  }
  25%{
    left: -100%;
  }
  45%{
    left: -100%;
  }
  50%{
    left: -200%;
  }
  70%{
    left: -200%;
  }
  75%{
    left: -300%;
  }
  95%{
    left: -300%;
  }
  100%{
    left: -400%;
  }
}
.slider figure img{
  width: 20%;
  float: left;
}
.menu .order{
  position: absolute;
  top: 0;
  background-color: rgba(211, 209, 209,.5);
  height: 100%;
  width: 100%;
}
.menu h2{
  font-family:'Modak', cursive ;
  font-size: 3rem;
}
#output{
  display: none;
}
#formOrder .form-group label{
  font-family: 'Modak', cursive;
  font-size: 1.5rem;
}
#or{
  border: 1px solid white;
  padding: 1.2rem;
  border-radius: 50%;
  font-family: 'Modak', sans-serif;
  font-size: 2rem;
  background-color: white;
}
.button button{
  font-family: 'Modak', sans-serif;
  padding: 1rem 1.5rem;
  /* font-size: 1.5rem; */
}